.footer {
    height: 630px;
    position: relative;

    &__map {
        margin-top: 70px;
        cursor: pointer;

        iframe {
            width: 100%;
            height: 630px;
            border: 0;
            pointer-events: none;
        }

    }

    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 462px;
        height: 272px;
        background: $main-color;
        padding: 50px 68px 60px 68px;
        transition: .2s all;

        &:hover {
            box-shadow: 0 0 7px $main-color;
        }
    }

    &__address {
        margin-bottom: 36px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
        color: #fff;
        text-align: center;
    }

    &__phone {
        color: #fff;
        display: block;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        margin-bottom: 38px;
        text-align: center;

        &:hover {
            color: #fff;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 15px;
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        border-radius: 100%;

        img {
            height: 27px;
        }

        animation: logo-footer 1s ease-in-out infinite alternate;

        &:hover {
            animation-play-state: paused;
        }
    }

    &__help {
        color: rgb(240, 240, 240);
        display: block;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        padding-top: 18px;
        text-decoration: overline;
    }
}